@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.admin {
    width: 100%;
    display: flex;

    &__leftmenu {
        max-width: 21%;
        min-width: 21%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        min-height: 100vh;

        &__logo {
            padding: 1rem 0;
            border-bottom: 2px solid #F4F7FE;

            img {
                width: 13vw;
                height: 8vh;
            }
        }

        &__navlist {
            list-style: none;
            text-align: justify;
            padding-left: 1rem;

            li {
                padding: .5rem 0;
                cursor: pointer;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    color: #2B3674;
                    padding: .25rem 0;

                    &:hover {
                        color: #6374d2;
                    }
                }

            }
        }

        &__copyright {
            padding-top: 5rem;
            font-size: .75rem;
            color: #310053;
        }
    }

    &__right {
        min-width: 79%;
        background-color: #F4F7FE;
        padding: 1rem .5rem;
        max-height: 100vh;
        overflow: overlay;

        &__header {
            display: flex;
            justify-content: space-between;
            padding: 1.75rem 1.5rem .5rem;
            align-items: center;

            &__title {
                font-size: 1.5rem;
                color: #2B3674;
                font-weight: 500;
            }

            &__profile {
                display: flex;
                align-items: center;
                background-color: white;
                padding: .25rem .75rem;
                border-radius: 2rem;
                box-shadow: 3px 6px 13px 5px rgba(112, 144, 176, 0.1215686275);

                div:nth-child(1) {
                    font-size: 1rem;
                    color: #2B3674;
                }

                div:nth-child(2) {
                    padding-left: .25rem;
                }
            }
        }

        &__content {
            padding: 1rem 1.25rem;

            form {
                .formcontainer {
                    &-submitbtn {
                        position: relative;
                        left: 88%;
                        padding: 0.5rem 2rem;
                        background-color: #000000;
                        color: white;
                        border: none;
                        border-radius: 2rem;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                        margin-top: 1rem;

                        &:hover {
                            background-color: #3f3f3f;
                        }
                    }
                }
            }

            &__uploadsyllabus {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &__inputfield {
                    display: flex;

                    select {
                        width: 10%;
                        cursor: pointer;
                        color: #2B3674;
                        font-weight: 500;
                        max-height: 4vh;
                    }

                    label {
                        width: 15%;
                        color: #2B3674;
                        font-weight: 600;
                    }

                    &__data {
                        background: white;
                        padding: 0.25rem;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        li {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.75rem;

                            div:nth-child(1) {
                                font-size: .85rem;
                            }

                            div:nth-child(2) {
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                            }

                            div:nth-child(3) {
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                            }
                        }

                        &-input {
                            display: flex;
                            gap: 1rem;

                            button {
                                background-color: #C3C3C3;
                                color: black;
                                padding: .25rem;
                                border-radius: .5rem;
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            &__tab-switcher {
                width: 100%;
                background-color: #f4f7fe;

                &__tabs {
                    display: flex;
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 0.5rem;
                    gap: 1rem;

                    &-tab {
                        padding: 1rem;
                        text-align: center;
                        cursor: pointer;
                        color: #333;

                        &.active {
                            color: #007bff;
                            border-bottom: 2px solid #007bff;
                        }

                        &:hover {
                            color: #007bff;
                        }
                    }
                }

                &__tab-content {
                    max-width: 35%;
                    background: white;
                    margin-top: 1rem;
                    padding: 0 0.5rem 0.5rem 0.5rem;
                }

                p {
                    font-size: 0.5rem;
                    line-height: 1.5;
                }

                .options {
                    .option {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1rem 0;
                        border-bottom: 1px solid #ccc;

                        .icons {
                            display: flex;
                            gap: 0.75rem;

                            img {
                                width: 1.5vw;
                                height: 3.5vh;
                                cursor: pointer;
                            }

                            span {
                                cursor: pointer;
                                color: #007bff;
                                margin: 0 0.5rem;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

                .add-option {
                    margin-top: 1rem;

                    input {
                        padding: 0.5rem 0.75rem;
                        border: 1px solid #ccc;
                        margin-right: 0.5rem;
                        width: 71%;
                    }
                }

                button {
                    padding: 0.5rem 1rem;
                    background-color: #c3c3c3;
                    border: none;
                    color: black;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }

            &__contentconfiguration {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &__checkbox-container {
                    padding-top: 0.5rem;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 1rem;
                    width: 92%;

                    .form-checkbox {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        label {
                            font-weight: 600;
                            color: #2B3674;
                        }
                    }

                    .form-checkbox input[type="checkbox"] {
                        width: 1.25rem;
                        height: 1.25rem;
                        cursor: pointer;
                    }

                    .checkbox-label {
                        margin-left: 0.25rem;
                        /* Add space between checkbox and text */
                    }
                }
            }

            &__contentupload {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &__upload {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 1.5rem;
                    background-color: #F4F7FE;
                    padding: 1rem 0;

                    &-container {
                        min-width: 22vw;
                    }

                    input[type="file"] {
                        display: none;
                    }

                    .custom-file-upload {
                        border: 1px solid #0F91D2B2;
                        color: #0F91D2B2;
                        background-color: white;
                        display: inline-block;
                        cursor: pointer;
                        padding: 0.75rem 0.25rem 0 0.25rem;
                        border-radius: 0.5rem;
                        font-size: .8rem;
                        font-weight: 400;
                    }

                    &__box {
                        background-color: #f4f7fe;
                        border-radius: 0.5rem;
                        border: 1.25px dashed #00000040;
                        display: flex;
                        gap: 1rem;
                        height: auto;
                        padding: 0.5rem;
                        text-align: justify;
                        justify-content: space-evenly;

                        .img {
                            width: 3vw;
                            height: 6.5vh;
                        }
                    }

                    &__heading {
                        font-weight: 500;
                        font-size: .9rem;
                    }

                    &__desc {
                        font-size: .85rem;
                        color: #00000066;
                    }
                }
            }
        }
    }
}